<!DOCTYPE html>
<html>
      <head>
            <meta charset="utf-8" />
            <title>Projects</title>
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
            <!-- jQuery library -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <!-- Popper JS -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
            <!-- Latest compiled JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      </head>
      <body>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav mr-auto">
                              <li class="nav-item"><a class="nav-link" href="../views/mypage.html">Home</a></li>
                              <li class="nav-item"><a class="nav-link" href="../views/projects.html">Projects</a></li>
                        </ul>
                        <div class="form-inline my-2 my-lg-0">
                              <a href="https://github.com/whoiscoos"> <img src="../resources/img/git.png" alt="Github Account" height="30px" /> </a>
                        </div>
                  </div>
            </nav>
            <br />
            <h2>Projects</h2>
            <div class="card">
                  <a href="https://github.com/whoiscoos/dotfiles">
                        <div class="card-header">
                              <img src="../resources/img/dot.png" height="150px" width="150px" />
                        </div>
                        <div class="card-body">
                              <h3>Project 1 - Dotfiles</h3>
                              <p class="main">Github repository where I store all my personal linux dotfiles</p>
                        </div>
                  </a>
            </div>
            <br />
            <div class="card">
                  <a href="https://github.com/whoiscoos/binScripts">
                        <div class="card-header">
                              <img src="../resources/img/bin.png" height="150px" width="150px" />
                        </div>
                        <div class="card-body">
                              <h3>Project 2 - binScripts</h3>
                              <p class="main">Github repository where I store small linux shell scripts to be loaded in /bin dir</p>
                        </div>
                  </a>
            </div>
            <br />
            <br />
            <br />
            <div class="card">
                  <a href="https://github.com/CSCI-3308-CU-Boulder/3308SP21_015_4">
                        <div class="card-header">
                              <img src="../resources/img/grp.png" height="150px" width="150px" />
                        </div>
                        <div class="card-body">
                              <h3>Project 3 - 33308 Group Project</h3>
                              <p class="main">Github repository where all 3308 group project files are kept</p>
                        </div>
                  </a>
            </div>
            <br />
            <br />
            <footer>
                  <a href="https://www.linkedin.com/in/fclaude87">&gt; <img style="display: block; margin-left: auto; margin-right: auto;" src="img/linked.png" alt="Linkedin Profile" height="40px" /> </a>
            </footer>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
      </body>
</html>
