footer {
    text-align: center;
    color: #f8f9fa;
    padding: 10px;
    background-color: #343a40;
  }

h1, h2, p {
    margin-left: 100px;
  }

.card {
    margin-left: 100px;
    margin-right: 100px;
  }

.circle {
    border-radius: 50%;
    margin-left: 100px;
  }

h3 {
    font-size: 15px;
  }

.main {
    margin-left: 0px;
}

.card-header {
    text-align: center;
  }